dateparser==0.7.4
django==3.0.4
django-elasticsearch-dsl==7.1.1
django-environ==0.4.5
django-inline-svg
gunicorn==20.0.4
requests==2.23.0
beautifulsoup4==4.8.2
mixer==6.1.3
psycopg2-binary==2.8.4
pytest==5.3.5
pytest-django==3.8.0
pytest-cov==2.8.1
PyMuPDF==1.16.0
docx2txt==0.8
honcho==1.0.1
ipython==7.16.3
ipdb==0.13.2
whitenoise==5.0.1
celery==4.4.2
sentry-sdk==0.14.4
redis==3.5.2