dateparser
django
django-elasticsearch-dsl
django-environ
gunicorn
requests
beautifulsoup4
mixer
psycopg2-binary
pytest
pytest-django
pytest-cov
PyMuPDF==1.16.0
docx2txt
honcho
ipython
ipdb
whitenoise