{% extends 'skupstina/base.html' %}

{% block content %}

    <section>
        <div class="container">
            <div>
                <form class="search" method="get" action="{% url 'search_results' %}">
                    <input type="text" name="q" placeholder="Search..." value="{{ request.GET.q }}">
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>

            <div class = "collapsibleList text-muted">
                <br><br>
                <label for="search_features">Click here for search features</label>
                <input type="checkbox" id="search_features" />
                <ul>
                    <li>Use <strong>space</strong> between search terms to include all terms (similar to <strong>OR</strong>)<br>
                        <em>Example: <strong>'Park Centar'</strong> will show results for 'Park' along with results for 'Centar'</em></li>
                    <li>Use <strong>AND</strong> before search terms that must also be included<br>
                        <em>Example: <strong>'Park AND Centar'</strong> will show results for 'Park' that must also contain 'Centar'</em></li>
                    <li>Use <strong>NOT</strong> before search terms that must be excluded<br>
                        <em>Example: <strong>'Park NOT Centar'</strong> will show results for 'Park' that must not contain 'Centar'</em></li>
                    <li>Operators cannot be chained without keywords in between</li>
                        <em>Example: <strong>'Park AND NOT Centar'</strong> will not show results for 'Park' that must not contain 'Centar'</em></li>
                </ul>
            </div>
        </div>
    </section>

    {% block search_results %}
    {% endblock search_results %}

{% endblock content %}
