<!-- Load static directory containing custom css file -->
{% load static %}

<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Custom CSS-->
		<link rel="stylesheet" type="text/css" href="{% static 'search/main.css' %}">

		<!-- Fontawesome and Bootstrap locally hosted -->
		<link rel="stylesheet" type="text/css" href="{% static 'search/fontawesome/css/all.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'search/bootstrap/css/bootstrap.min.css' %}">

		<!-- Github ribbon -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />

		<title>
			{% block title %}
				Otvoreni Akti Search
				{% if title %}
					- {{ title }}
				{% endif %}
			{% endblock title %}
		</title>

		{% block head %}{% endblock %}
	</head>
	<body>
		
		<!-- WARNING FOR ALPHA TESTING -->
		<div class="alert alert-warning mb-0" role="alert">
			This is an early release and your <a href="https://forms.gle/hw8ecY5MgSjQzmKU9" target="_blank">feedback</a> is much appreciated!
		</div>
		<!-- END OF WARNING -->

        {% block content %}
            This is default content.
        {% endblock content %}

    	<!-- jQuery first, then Bootstrap JS + Popper locally hosted -->
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="{% static 'search/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

		{% if request.META.HTTP_HOST != '127.0.0.1:8000' %}
			<!-- Default Statcounter code for Otvoreni-akti http://otvoreni-akti.herokuapp.com -->
				<script type="text/javascript">
					var sc_project=12193139;
					var sc_invisible=1;
					var sc_security="8c5a7478";
				</script>
				<script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
				<noscript><div class="statcounter"><a title="Web Analytics Made Easy - StatCounter" href="https://statcounter.com/" target="_blank"><img class="statcounter" src="https://c.statcounter.com/12193139/0/8c5a7478/1/" alt="Web Analytics Made Easy -StatCounter"></a></div></noscript>
			<!-- End of Statcounter Code -->
		{% endif %}

		<!--Github ribbon -->
		<a class="github-fork-ribbon" href="https://github.com/za-grad/otvoreni-akti" data-ribbon="Fork me on GitHub" title="Fork me on GitHub" target="_blank">Fork me on GitHub</a>
	</body>
</html>