{% extends 'search/base.html' %}

{% load svg %}

{% block content %}

    <!-- Banner -->
    <div class="container-fluid header_container">
        <div class="container header">
            <h1><a href="{% url 'search_home' %}">{% svg 'search/otvoreni-akti' %}</a></h1>
        </div>
    </div>

    <!--Search Container -->
    <div class="container">
        <div>
            <form method="get" action="{% url 'search_results' %}">

                <!-- Search Bar -->
                <div class="search_bar">
                    <input type="text" name="q" placeholder="Search..." value="{{ request.GET.q }}">
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>

                <!-- Advanced Search Features -->
                <div>
                    <span>
                        <a class="text-muted collapsibleList" data-toggle="collapse" href="#advanced_features" role="button" aria-expanded="false" aria-controls="advanced_features">
                            Click here for advanced search options
                        </a>
                    </span>
                </div>
                {% if advanced_used %}
                    <div class="collapse show" id="advanced_features">
                {% else %}
                    <div class="collapse" id="advanced_features">
                {% endif %}
                    <div class="metadata_container">
                        <div class="search_metadata">
                            <span class="text-muted">Filter by date:</span><br>
                            <input type="date" name="start_date" value="{{ request.GET.start_date }}">
                            to
                            <input type="date" name="end_date" value="{{ request.GET.end_date }}">
                        </div>
                        <div class="search_metadata">
                            <span class="text-muted">Filter by file type:</span><br>
                            <select name="file_type">
                                <option value="All" {% if request.GET.file_type == 'All' %}selected{% endif %}>All</option>
                                <option value="html" {% if request.GET.file_type == 'html' %}selected{% endif %}>HTML</option>
                                <option value="pdf" {% if request.GET.file_type == 'pdf' %}selected{% endif %}>pdf</option>
                                <option value="docx" {% if request.GET.file_type == 'docx' %}selected{% endif %}>docx</option>
                            </select>
                        </div>
                        <div class="search_metadata">
                            <span class="text-muted">Sort by:</span><br>
                            <select name="sort_by">
                                <option value="newest_first" {% if request.GET.sort_by == 'newest_first' %}selected{% endif %}>newest first</option>
                                <option value="oldest_first" {% if request.GET.sort_by == 'oldest_first' %}selected{% endif %}>oldest first</option>
                                <option value="relevance" {% if request.GET.sort_by == 'relevance' %}selected{% endif %}>relevance</option>
                            </select>
                        </div>
                    </div>

                    <!-- Instructions for search -->
                    <div class="pt-2">
                        <span>
                            <a class="text-muted collapsibleList" data-toggle="collapse" href="#feature_list" role="button" aria-expanded="true" aria-controls="feature_list">
                                Click here for full feature list!
                            </a>
                        </span>
                    </div>
                    <div class="collapse text-muted collapsibleList" id="feature_list">
                        <div>
                            <ul class="mb-0 pt-2 pb-2">
                                <li>
                                    Use <strong>space</strong> between search terms to include all terms (same as <strong>OR</strong>)<br>
                                    <em>Example: <strong>Park Centar</strong> will show results for 'Park' along with results for 'Centar'</em>
                                </li>
                                <li>
                                    Use <strong>AND</strong> before search terms that must also be included<br>
                                    <em>Example: <strong>Park AND Centar</strong> will show results for 'Park' that must also contain 'Centar'</em>
                                </li>
                                <li>
                                    Use <strong>NOT</strong> before search terms that must be excluded<br>
                                    <em>Example: <strong>Park NOT Centar</strong> will show results for 'Park' that must not contain 'Centar'</em>
                                </li>
                                <li>
                                    For <strong>"exact search"</strong>, put search term between double quotes<br>
                                    <em>Example: <strong>"Park Centar"</strong> will show results for the exact term "Park Centar"</em>
                                </li>
                                <li>
                                    Operators can be <strong>chained together</strong> to form complex queries<br>
                                    <em>Example: <strong>"Volonterski Centar" AND Park NOT Knjižnice</strong> will show results for exact match of "Volonterski Centar" that must also include 'Park' and must not contain 'Knjižnice'</em>
                                </li>
                                <li>
                                    Operators cannot be chained without keywords in between<br>
                                    <em>Example: <strong>Park AND NOT Centar</strong> will not show results for 'Park' that must not contain 'Centar'</em>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% block search_results %}
    {% endblock search_results %}

{% endblock content %}
