* {
    box-sizing: border-box;
}

:root {
  --purple-dark-color: #522F91;
}

.container a, .container a:hover { color: var(--purple-dark-color); }

/* Header */
.header_container {
  background-color: var(--purple-dark-color);
  margin-top: 0;
  padding: 1rem 0 1rem 0;
  margin-bottom: 2rem;
}
.header {
  padding-top: 20px;
  color: white;
}
.header h1 svg {
    min-width: 200px;
    max-width: 400px;
    margin-left: -10px;
}
.header h2 { font-size: 14px; margin: -26px 0 0 23px; }
.header h2 svg {
  width: 9%;
  margin: 0;
  /* margin-bottom: 17px; */
  height: auto;
  min-width: unset;
}
.header h2 .za-grad svg { margin: 0 3px 0 4px }
.header h2 .zjn svg { width: 6% }
.header .cfc a {
    color: white;
    text-decoration: underline;
}
.header .cfc img {
    width: 2%;
    display: inline-block;
    margin: 0 3px;
}

.subtitle { font-size: 18px; }
.header h2 { margin: 0 0 0 0; }


@media (max-width: 1200px) {
  .header .subtitle { display: block; }
  .header h2 svg { width: 11% }

  .header h2 {
    font-size: 12px;
  }
}

/* Search Flexbox */
.search_bar {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 5px;
    padding-bottom: 5px;
}

.search_bar > input {
    width: 100%;
    padding: 10px;
    border: 1px solid grey;
    background: #f7f7f7;
    transition: box-shadow .3s;
    border-radius: 3px 0px 0px 3px;
}

.search_bar > input:hover {
    box-shadow: 0px 0.125rem 8px rgba(0, 0, 0, 0.15);
}

.search_bar > button {
    width: 50px;
    padding: 10px;
    background: var(--purple-dark-color);
    color: white;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border-radius: 0px 3px 3px 0px;
    transition: 500ms;
}

.search_bar > button:hover {
    background: var(--purple-dark-color);
    opacity: 0.9;
    transition: 500ms;
}

.search_bar button svg {
    width: 35px;
    margin: -5px 5px -6px -3px;
}

.metadata_container {
    display: flex;
    flex-flow: row wrap;
}

.search_metadata {
    padding-right: 20px;
}

.search_metadata > input, select {
    margin-top: 3px;
    border-radius: 3px;
    padding: 10px;
    border: 1px solid grey;
    background: #f7f7f7;
    transition: box-shadow .3s;
    border-radius: 3px;
}

.search_metadata > select{
    margin-top: 3px;
}

.search_metadata > span {
    margin-left: 2px;
    font-size: smaller;
}


/* Search metrics */
.search_metrics {
    color: var(--purple-dark-color);
}

/* Style the search metadata */
.subject, .period, .archived {
    font-size: smaller;
}

/* Help information (collapsible) */
.collapsibleList {
    margin-top: 10px;
    margin-left: 2px;
    /* font-size: smaller; */
}

/* Highlighted text */
.highlight em {
    font-weight: bold;
}
