* {
    box-sizing: border-box;
}

:root {
  --purple-dark-color: #522F91;
}

.container a, .container a:hover {
    color: var(--purple-dark-color);
}

/* Header */
.header {
  background-color: var(--purple-dark-color);
  margin-bottom: 4rem;
  color: white;
}

.logo {
    margin: 0px 10%;
}

.logo svg {
    min-width: 200px;
    max-width: 400px;
    padding: 4rem 0px;
    margin: auto;
    display: block;
}

.sponsors {
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
    display: block;
    padding: 8px;
    background: #63449C;
    opacity: 0.7;
}

.sponsors svg {
    min-width: 30px;
}

.sponsors .za-grad svg {
    width: 7%;
    margin: 0px 7px 5px 9px;
}

.sponsors .zjn svg {
    width: 3.5%;
    margin: 0 7px ;
}

.sponsors .mozemo svg {
    width: 5%;
    margin: 0 7px;
}

.sponsors .cfc {
    color: white;
    text-decoration: underline;
}

.sponsors .cfc img {
    width: 1.7%;
    display: inline-block;
    margin-left: 7px;
}

@media (max-width: 1200px) {
    .sponsors { font-size: 11px; }
}

/* Search Flexbox */
.search_bar {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 5px;
    padding-bottom: 5px;
}

.search_bar > input {
    width: 100%;
    padding: 10px;
    border: 1px solid grey;
    background: #f7f7f7;
    transition: box-shadow .3s;
    border-radius: 3px 0px 0px 3px;
}

.search_bar > input:hover {
    box-shadow: 0px 0.125rem 8px rgba(0, 0, 0, 0.15);
}

.search_bar > button {
    width: 50px;
    padding: 10px;
    background: var(--purple-dark-color);
    color: white;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border-radius: 0px 3px 3px 0px;
    transition: 500ms;
}

.search_bar > button:hover {
    background: var(--purple-dark-color);
    opacity: 0.9;
    transition: 500ms;
}

.search_bar button svg {
    width: 35px;
    margin: -5px 5px -6px -3px;
}

.metadata_container {
    display: flex;
    flex-flow: row wrap;
}

.search_metadata {
    padding-right: 20px;
}

.search_metadata > input, select {
    margin-top: 3px;
    border-radius: 3px;
    padding: 10px;
    border: 1px solid grey;
    background: #f7f7f7;
    transition: box-shadow .3s;
    border-radius: 3px;
}

.search_metadata > select{
    margin-top: 3px;
}

.search_metadata > span {
    margin-left: 2px;
    font-size: smaller;
}


/* Search metrics */
.search_metrics {
    color: var(--purple-dark-color);
}

/* Style the search metadata */
.subject, .period, .archived {
    font-size: smaller;
}

/* Help information (collapsible) */
.collapsibleList {
    margin-top: 10px;
    margin-left: 2px;
    /* font-size: smaller; */
}

/* Highlighted text */
.highlight em {
    font-weight: bold;
}
