* {
    box-sizing: border-box;
}

:root {
  --ink-color: #3169d0;
}

/* Header */
.header {
    padding-top: 20px;
    font-family: 'Dancing Script', Arial;
    color: var(--ink-color);
}

.header a:hover{
    text-decoration: none;
}

/* Search Flexbox */
.search_bar {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 5px;
    padding-bottom: 5px;
}

.search_bar > input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid grey;
    background: #f7f7f7;
    transition: box-shadow .3s;
    border-radius: 3px 0px 0px 3px;
}

.search_bar > input:hover {
    box-shadow: 0px 0.125rem 8px rgba(0, 0, 0, 0.15);
}

.search_bar > button {
    width: 50px;
    padding: 10px;
    background: var(--ink-color);
    color: white;
    font-size: 15px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border-radius: 0px 3px 3px 0px;
}

.search_bar > button:hover {
    background: var(--ink-color);
}

.search_metadata > input[type=date] {
    margin-top: 3px;
    border-radius: 3px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid grey;
    background: #f7f7f7;
    transition: box-shadow .3s;
    border-radius: 3px;
}

.search_metadata > span {
    margin-left: 2px;
    font-size: smaller;
}

/* Style the search metadata */
.subject, .period {
    font-size: smaller;
}

/* Help information (collapsible) */
.collapsibleList {
    margin-left: 2px;
    margin-top: 5px;
    font-size: smaller;
}

.collapsibleList input + * {
    display: none;
}

.collapsibleList input:checked + * {
    display: block;
}

.collapsibleList input {
    display: none;
}

.collapsibleList label {
    text-decoration: underline;
    cursor: pointer;
}

/* Highlighted text */
.highlight em {
    font-weight: bold;
}
